.img-effect-one img{
    
    width: 100%;
    max-width: 100%;
  vertical-align: top;

}


button:hover{
    background-color: rgb(107, 139, 247);
    color: green;
}

h4:hover{
    color: rgb(9, 201, 25);
}
#a:hover{
    color: rgb(92, 18, 230);
}